@media only screen  and (max-width : 768px) {
    .nav{
        position: fixed;
        .fa-times{
            color:$menu_icon;
            cursor: pointer;

        }
        .fa-ellipsis-h{
            color:$menu_icon;
            cursor: pointer;
        }
        &__menu{
            &__mobile_menu{
                display:block;
                &__list{
                    display: none;
                    position: absolute;
                    z-index: 1 ;
                    background: $menu-background;
                    top: 99%;
                    width: 100%;
                    text-align: right;
                    right: 0;
                    padding: 2% 5%;
                    &__active>a{
                            color:$menu_hover_text !important;
                        
                    }
                    &__items{
                        &__dropdown{
                            margin: 5px 0;
                        &__list{
                            display: none;
                            margin: 10px 0;
                            &__heading{
                              color:$primary-text-color;
                              font-family: Barlow-medium-bold;
                            }
                            &__sublist{
                                display: none;
                               li{
                                    padding: 10px 0px !important;
                                 a{
                                    font-family: 'Barlow-regular' !important;
                                      }
                                 }
                                 &__active>a{
                                    color: $menu_hover_text;
                                
                            }
                            }
                          
                          }
                       }
                    }
                    li{
                        list-style-type: none;
                        padding: 10px 22px;
                        a{  font-family: Barlow-medium-bold;
                            text-transform: uppercase;
                            text-decoration: none;
                            color: $primary-text-color;
                            text-align: center;
                            overflow: hidden;
                            font-size: 16px;
                            white-space: nowrap;
                        }
                    }
                    
                }
                .fa-bars{
                    color:$menu_icon;
                    cursor: pointer;
                    font-size:30px;
                }
            }
            &__list{
                display: none;
            }
        }
    }
.wrapper{
    &__header{
        padding-bottom: 30%;;
        background-size: cover;
      
        &__text{
              //  padding:45% 0;
              margin-top: 273px;
            &__big_title{
                font-size:42px;
            }
        }
    }
    &__services{
        height: 100%;
        &__about_us{
            width: 90%;
            top: -4%;
            left: 5%;
            flex-direction: column;
          
            &__box{
                flex-direction: column;
                &__cards{
                    width: 100%;
                    &:hover{
                        background-color:#fcf2e8;
                    }
                }
                
            }
            
        }
        &__products{
            margin-top: 150%;
            &__box{
                padding:5%;
                flex-direction: column;
                &__l{
                    width: 100%;
                    margin-bottom: 5%;
                    &__para{
                        padding:10px;
                        text-align: center;
                        &__button{
                            width:50%;
                        }
                    }
                }
                &__r{
                    width: 100%;
                    padding-top:10%;
                    &__slideshow{
                        margin-bottom: -8%;
                        &__slides{
                           &__shadow{
                                height: 79%;
                                &__img{
                                    width:100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &__getintouch{
        //background-image: url(../images/home/getintouch_mobile.jpg);
        background-size: cover;
        &__para{
            width: 100%;
            margin:0;
            padding:10px;
           &__contact_us{
            flex-direction: column;
            
           }
           &__text_button{
               width:50%;
           }
        }
    }
    &__news{
        &__description{
            @include flexColumn;
            padding:0 2%;
            &__cards{
                width: 100%;
                border:none;
                border-bottom:1px solid $about-us-border-color;
            }
        }
    }
    .wrapper__news>.wrapper__news__description:nth-last-child(2){
        .wrapper__news__description__cards:first-child{
            border-right:none;  
        }
      }
        .wrapper__news>.wrapper__news__description:last-child{
      .wrapper__news__description__cards:first-child{
          border-right:none;
          border-top:none;
      }
      .wrapper__news__description__cards:last-child{
        border-top:none;
       
    }
        }
}
.fa-bars {
color: $secondary-text-color;
}
.wrapper_contactus{
    &__header{
        background-size: cover;
        &__text{
            margin-top:300px;
        &__big_title{
            font-size:42px;
        }
    }
    }
    &__middle_content{
        @include flexColumn;
        &__contact{
            width:100%;
        }
        &__form{
            width:100%;
            &__title{
                padding:10px 0;
            }
            &__fileds{
                padding:0;
            }
                &__form_btn{
                    &__button{
                        width:50%;
                    }
                }          
        }
       
    }
  
    &__pro_with_us{
        &__para{
            @include flexColumn;
            &__text{
                @include proWithUs;
            }
            &__number_box{
                @include proWithUs;
                &__button{
                    width: 50%;
                }
            }
        }
        
    }
}
.contact_wrapper{
    &__header{
        background-size: cover;
        &__text{
            margin-top:38% ;
             &__big_title{
            font-size:42px;
        }
      }
    }
    &__team{
        @include flexColumn;
        background-size:auto;
        &__text{
            width:100%;
        }
        &__images{
            width:100%;
           @include flexColumn;
        padding-top:10%;
            &__body{
                text-align: center;
            } 
        }
    }
    &__mission_statements{
        &__para{
           flex-direction:column;
           padding:0 10%;
            &__cards{
                width:100%;
                padding:10% 0;
                &:nth-child(2){
                    border-right: 0px solid $mission-statements-border;
                    border-left: 0px solid $mission-statements-border;
                    border-top: 1px solid $mission-statements-border;
                    border-bottom: 1px solid $mission-statements-border;
                }
            }
        }
    }
    &__background{
        background-size:auto;
        &__cards{
            flex-direction:column; 
            &__body{
                width:100%;
                padding:10% 0;
            }
        }
        &__button{
            padding: 3%;
            &__btn{
                width: 50%;
            }
        }
    }
    &__solution_overview{
        padding: 6% 0;
        &__chart_box{
            height:709px;
            &__parent{
                position: unset;
                &__line{
               display: none;
            }
            
            &__info_box{
                position: unset;
                top:unset;
                width:100%;
                margin-left:0;
                @include flexColumn;
                &__body{
                    width:100%;                   
                }
            }
        }
        }
    }
}
.wrapper_services{
    &__header{
        //background-image:url(../images/services/services_bg.jpg);
        background-size: cover;
        &__text{
            margin-left:0;
            &__big_title{
                width:100%;
                margin:0;
            }
        }
      
        
    }
    &__sidebar{
        display: none;
    }
    &__content{
        flex-direction:column;        
        &__page{
            width: 100%;
            margin-left:0;
            &__footer{
                img{
                    width:90%;
                }
            }
            &__images{
                @include flexColumn;
                padding:0;
                margin:0;
                &__box{
                    padding:0;
                    width:unset;
                    &__text{
                        padding:0;
                    }
                    img{
                        width: 90%;
                        margin-left:5%;
                    }
                    &--middle_img{
                        margin: 5% 36%;
                        img{
                            transform: rotate(90deg);
                        
                    }
                    }
                }
               
            }
            &__box{
                @include flexColumn;
                justify-content:space-between;
                margin:2%;
                padding:5%;
                &__text{
                    font-size:42px;
                }
                &__image{
                    //text-align: center;
                    justify-content: space-between;
                }
                
                    &__text{
                     width:100%;
                     text-align: center; 
                    }
            }
            &__top_text{
                padding:7% 2%;
            }
               
                &__values{
                    padding:9% 4%;
                    &__b{
                        &__h{
                            margin: -5% 3% 0 3%;
                            width: 40%;
                        }
                        &__t{
                            @include flexColumn;
                            justify-content: center;
                            &__cards{
                                width:100%;
                            }
                        }
                    }
                }
                &__unique_feature{
                    &__box{
                        &__heading{
                           // margin: -8% 4% 0 4%;
                           top: -3%;
                            width:67%;
                        }
                       &__text_points{
                            ul{
                                padding-left:9%;
                            }
                        }
                    }
                }
            
        }
    }
}
.footer--margin_left{
    margin-left:0;
}
.footer__scroll_button{
    bottom:10%;
}


.wrapper_services__content__page__services3_images img {
    width: 100%;
    margin-left: 0;
    padding: 2%;
}

.wrapper_services__content__page{
    &__services4_images{
            flex-direction: column;
            &__box{
              width:100%;
            }
           
            }
        }

       
          
        .wrapper_services__content__page{
            &__services5_images{ 
                padding:0 5%;
            flex-direction: column;
           &__box{
              width:100%;
            }
             img{
                 width:100%;
             
            }
        }
    }
          
            
 
#dropdown-mobile{
    position: relative;
  display: inline-block;
  padding-bottom: 0;
}

}
@media only screen and (max-width:768px) and (min-width:768px){
    .wrapper{
        &__header{
            padding-bottom: 9%;
            &__text{
                margin-top: 330px;
            }
        }
        &__services__products{
            margin-top: 46%;
        }
       &__getintouch__para__contact_us{
           flex-direction: row;
       }
        &__getintouch__para__text_button {
        width: 29%;
    }
    &__services__products__box__l {
        &__para__button{
       width:30%;
    }
}
&__services__products__box__r__slideshow__slides__shadow{
    width:95%;
    height:85%;
    }
    &__services__products__box__r__slideshow_dot_box{
        margin-top: 87px;
    }
    .news-description-cards{
        border-bottom:0px solid $about-us-border-color;
    }
    .news-description{
        flex-direction: row;
    }
    .news>.news-description:nth-last-child(2){
        .news-description-cards:first-child{
            border-right:1px solid #dbdbdb;;  
        }
      }
        .news>.news-description:last-child{
      .news-description-cards:first-child{
          border-right:1px solid #dbdbdb;;
          border-top:1px solid #dbdbdb;;
      }
      .news-description-cards:last-child{
        border-top:1px solid #dbdbdb;;
       
    }
        }
    }
    .wrapper_contactus{
        &__pro_with_us__para__number_box__button{
            width:30%;
        }
    }
    .wrapper_services{
        &__content__page__images__box--middle_img img {
            width: 59%;
        }
        &__content__page__box__image{
            width:100%;
        }
    }
   
}
@media screen and (min-width:540px) and (max-width:540px){
    .wrapper{
        &__services__products__box__r{
            &__slideshow_dot_box{
                margin-top: 51px;
            }
        }
        &__services__products{
            margin-top: 67%;
        }
    }
    .contact_wrapper{
        &__solution_overview{
            &__chart_box{
                height:864px;
    
            }
        }
        &__team{
            @include flexColumn;
            &__images{
               display: flex;
            }
        }
    }
    .wrapper_contactus{
        &__pro_with_us__para__number_box__button{
            width:30%;
        }
        &__pro_with_us__para__text{
            text-align: center;
        }
    }
    .wrapper_services{
        &__content__page__values__b__h {
        margin: -3% 3% 0 3%;
        width: 30%;
    }
   &__content__page__unique_feature__box__heading {
        top: -3%;
        width: 45%;
    }
    &__content__page{
        &__images__box--middle_img{
                     margin:12% 36%;
           
         }
        &__box{
            &__image{
                @include servicesmimage;
            }
            
                &__text{
                    @include servicesmimage;
                }
            
          }
    }
}
 
}


@media screen and (min-width:280px) and (max-width:280px){
    .wrapper{
      
      
     &__services__products__box__r &__services__products__slideshow__slides &__services__products__slideshow__slides__img{
        width: 100%;
    }
    &__services{
        &__products{
            margin-top: 190%;
        &__box{
            &__l{
               
                &__para{
                    &__button{
                        width:66%;
                    }
                }
            }
            &__r{
                
                &__slideshow{
                    &__slides{
                        &__shadow{
                            height: 78%;
                            margin-top: 17px;
                            width:77%;
                            margin-left: -24px;
                        }
                       // .slideshow-slides-shadow{
                            &__img{
                                width:100%;
                                height: auto;
                            }
                           
                        //'}
                    }
                }
            }
        }
    }
    }
    }
    .contact_wrapper{
        &__solution_overview{
            &__chart_box{
                height:823px;
    
            }
        }
        &__background{
           &-scroll-button{
               top:97%;
           }
        }

    }
    .wrapper_contactus{
        &__pro_with_us__para__text{
            text-align: center;
        }
    }
  
    .wrapper_services{
        &__content{
            &__page{
                 &__box{
                     margin: 0;
                     padding: 0;
                 
                }
            }
        }
    }
}
@media screen and (min-width:320px) and (max-width:320px){
.wrapper_services{
    &__content{
        &__page{
             &__box{
                 margin: 0;
                 padding: 0;
             }
             &__footer{
                 img{
                     width:90%;
                 }
             }
            
        }
    }
}
}
@media screen and (min-width:411px) and (max-width:414px) {
    .wrapper {
        &__services__products {
            margin-top: 103%;
        }
    }
    .contact_wrapper{
        &__solution_overview__chart_box {
            height: 772px;
        }
    }
}
@media screen and (min-width:375px) and (max-width:375px){
    .wrapper {
        &__services__products {
            margin-top: 130%;
        }
    }
}


@media screen and (min-width:768px) and (max-width:768px){
.wrapper_contactus{
    &__middle_content{
        &__form{
            &__btn{
                &__submit{
                    width:30%;
                }
            } 
        }
    }
    &__pro_with_us{
        &__para{
            &__text{
                text-align: center;
            }
            &__number_box{
                &__button{
                    width: 30%;
                }
            }
        }
    }
}
.contact_wrapper{
     &__header{
         &__text{
             margin-top:22%;
         }
     }
    &__team{
        @include flexColumn;
        background-size:cover;
       
        &__images{
            display: flex;
            &__body{
                text-align: center;
            } 
        }
    }
    &__solution_overview{
        &__chart_box{
            height:969px;

        }
    }
    &__background{
        &__button{
            &__btn{
              width:27%;
            }
        }
    }
}
.wrapper_services{
    &__content__page__values__b__h {
        margin: -2% 3% 0 3%;
        width: 30%;
    }
    &__content__page__unique_feature__box__heading {
        width: 29%;
    }
}

}

@media screen and (min-width:1024px) and (max-width:1024px){
    .wrapper {
        &__services__products {
            margin-top: 30%;
        }
    }
.contact_wrapper{
    &__team{
        &__text{
            padding:2%;
        }
    }
    &__background{
        &__cards{
            &__body{
                padding:2% 3%;
            }
        }
    }
}
.wrapper_services{
    &__content{
        &__page{               
            &__images{
                flex-direction: column;
                text-align: center;
                &__box{
                    width:100%;
                    &--middle_img{
                        margin:0;
                       img{
                           transform: rotate(90deg);
                       }
                 }
                }
                
               
             }
            &__box{
                margin: 4% 4%;
                padding: 1% 9%;
             }
            }
        
    }
}
}