@import '__mixin.scss';
@import '__variable.scss';
@import '__fonts.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:$primary-text-color;
   // letter-spacing: 1.5px;
}


@import 'home/__header.scss',
        'home/__services.scss',
        'home/__news',
        'home/__getintouch',
        'home/__footer';

@import 'about_us/__header.scss',
          'about_us/__team.scss',
          'about_us/__mission-statement.scss',
          'about_us/__solution-overview',
          'about_us/__background';

@import 'contactus/__header.scss',
        'contactus/__middle-content.scss',
        'contactus/__project_with_us' ;

@import 'services/__header',
        'services/__sidebar',
        'services/__page';
 @import 'services2/__page';
 @import 'services3/__page';
 @import 'services4/__page';
 @import 'services5/__page';
@import '__media.scss';
input[type=email],input[type=text],textarea{
color:#ffffff;
}