@font-face {
  font-family: Barlow-bold;
  src: url(fonts/BarlowCondensed-Bold.ttf);
}

@font-face {
  font-family: Barlow-semi-bold;
  src: url(fonts/BarlowCondensed-SemiBold.ttf);
}

@font-face {
  font-family: Barlow-medium-bold;
  src: url(fonts/BarlowCondensed-Medium.ttf);
}

@font-face {
  font-family: Barlow-regular;
  src: url(fonts/BarlowCondensed-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.nav__logo img {
  width: 80%;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2% 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu__mobile_menu {
  display: none;
}

.nav__menu__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__menu__list__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.nav__menu__list__items__dropdown {
  display: none;
  position: absolute;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 110%;
  background: #ffffff;
  border-radius: 9px;
  padding: 1% 20%;
  text-align: left;
  letter-spacing: 1.5px;
}

.nav__menu__list__items__dropdown__list {
  padding-bottom: 10%;
}

.nav__menu__list__items__dropdown__list__heading {
  text-transform: uppercase;
  font-size: 16px;
  color: #000000;
  font-family: Barlow-bold;
  padding: 10% 0 10% 5%;
}

.nav__menu__list__items__dropdown__list__sublist {
  list-style-type: none;
}

.nav__menu__list__items__dropdown__list__sublist li {
  text-transform: uppercase;
  font-size: 16px;
  color: #000000;
  font-family: Barlow-regular;
  padding: 8% 6% 8% 5%;
}

.nav__menu__list__items__dropdown__list__sublist li a {
  text-decoration: none;
  color: #000000;
}

.nav__menu__list__items__link {
  font-size: 18px;
  color: #000000;
  font-family: Barlow-medium-bold;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__menu__list__items__link:hover {
  font-weight: 700;
  color: #e27f21;
}

.nav__menu__list__items__link--active {
  color: #e27f21;
}

.wrapper__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../images/home/banner.jpg);
  background-size: 100% 100%;
  padding-bottom: 9%;
  padding-left: 5%;
  padding-right: 5%;
}

.wrapper__header__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 25%;
  padding-bottom: 12%;
}

.wrapper__header__text__big_title {
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 72px;
  color: #ffffff;
  font-family: Barlow-semi-bold;
}

.wrapper__header__text__small_title {
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  font-family: Barlow-medium-bold;
}

#dropdown {
  position: relative;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper__services {
  background-image: url(../images/home/services_bg.jpg);
  background-size: 100% 100%;
  position: relative;
}

.wrapper__services__about_us {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #ffffff;
  width: 75%;
  top: -9%;
  left: 12.5%;
  position: absolute;
}

.wrapper__services__about_us__top {
  text-align: center;
}

.wrapper__services__about_us__top__heading {
  text-transform: uppercase;
  font-size: 40px;
  color: #474747;
  font-family: Barlow-semi-bold;
  text-align: center;
}

.wrapper__services__about_us__top__line {
  display: block;
  width: 45px;
  height: 3px;
  background: #e27f21;
  margin: 20px auto;
}

.wrapper__services__about_us__para {
  text-align: center;
  padding: 1% 5%;
}

.wrapper__services__about_us__para__text {
  font-size: 20px;
  color: #474747;
  font-family: Barlow-medium-bold;
  line-height: 2;
  letter-spacing: 1px;
  padding-bottom: 2%;
}

.wrapper__services__about_us__para__know {
  text-transform: uppercase;
  font-size: 20px;
  color: #e27f21;
  font-family: Barlow-bold;
  text-decoration: none;
  line-height: 2;
  letter-spacing: 1px;
}

.wrapper__services__products {
  margin-top: 25%;
  padding-left: 2%;
  padding-right: 2%;
}

.wrapper__services__products__heading {
  text-align: center;
}

.wrapper__services__products__heading__top {
  text-transform: uppercase;
  font-size: 40px;
  color: #ffffff;
  font-family: Barlow-semi-bold;
}

.wrapper__services__products__heading__top__line {
  display: block;
  width: 45px;
  height: 3px;
  background: #e27f21;
  margin: 20px auto;
}

.wrapper__services__products__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.wrapper__services__products__box__l {
  width: 50%;
}

.wrapper__services__products__box__l__para {
  line-height: 2;
  text-align: left;
}

.wrapper__services__products__box__l__para__button {
  background: #e27f21;
  font-family: Barlow-bold;
  width: 36%;
  color: #ffffff;
  outline: none;
  border: none;
  height: 58px;
  font-size: 20px;
  border-radius: 30px;
  margin-top: 46px;
}

.wrapper__services__products__box__l__para__text {
  font-size: 24px;
  color: #ffffff;
  font-family: Barlow-regular;
}

.wrapper__services__products__box__r {
  width: 50%;
}

.wrapper__services__products__box__r__slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.wrapper__services__products__box__r__slideshow__slides {
  padding: 0px 50px;
  display: block;
}

.wrapper__services__products__box__r__slideshow__slides__shadow {
  width: 85%;
  height: 248px;
  background: linear-gradient(45deg, #908d8d0a, #80787854, #bfbaba26);
  border-radius: 15px;
  margin-left: -28px;
  position: absolute;
  margin-top: 30px;
}

.wrapper__services__products__box__r__slideshow__slides__shadow__img {
  position: relative;
  width: 90%;
  height: 300px;
  border-radius: 15px;
}

.wrapper__services__products__box__r__slideshow__slides--fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.wrapper__services__products__box__r__slideshow_dot_box {
  text-align: center;
  margin-top: 30px;
}

.wrapper__services__products__box__r__slideshow_dot_box__dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #474747;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.wrapper__services__products__box__r__slideshow_dot_box__dot:hover {
  background-color: #e27f21;
  height: 17px;
  width: 17px;
}

.wrapper__services__products__box__r__slideshow_dot_box .active {
  background-color: #e27f21;
  height: 17px;
  width: 17px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper__news {
  padding: 0 3%;
  padding-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper__news__title {
  text-align: center;
  padding: 2%;
}

.wrapper__news__title__top {
  text-transform: uppercase;
  font-size: 40px;
  color: #474747;
  font-family: Barlow-semi-bold;
}

.wrapper__news__title__line {
  display: block;
  width: 45px;
  height: 3px;
  background: #e27f21;
  margin: 20px auto;
}

.wrapper__news__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10%;
}

.wrapper__news__description__cards {
  width: 50%;
  padding: 6% 11%;
  text-align: center;
}

.wrapper__news__description__cards:hover {
  background-color: #fcf2e8;
  cursor: pointer;
}

.wrapper__news__description__cards__t {
  text-transform: none;
  font-size: 35px;
  color: #aaaaaa;
  font-family: Barlow-semi-bold;
  padding-bottom: 3%;
}

.wrapper__news__description__cards__d {
  text-transform: none;
  font-size: 20px;
  color: #6b6b6b;
  font-family: Barlow-medium-bold;
  letter-spacing: 1px;
  line-height: 32px;
}

.wrapper .wrapper__news > .wrapper__news__description:nth-last-child(2) .wrapper__news__description__cards:first-child {
  border-right: 2px solid #dbdbdb;
}

.wrapper .wrapper__news > .wrapper__news__description:last-child .wrapper__news__description__cards:first-child {
  border-right: 2px solid #dbdbdb;
  border-top: 2px solid #dbdbdb;
}

.wrapper .wrapper__news > .wrapper__news__description:last-child .wrapper__news__description__cards:last-child {
  border-top: 2px solid #dbdbdb;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper__getintouch {
  position: relative;
  background-image: url(../images/home/getintouch.jpg);
  background-size: 100% 100%;
}

.wrapper__getintouch__heading {
  padding-top: 30px;
  text-align: center;
}

.wrapper__getintouch__heading__top {
  font-size: 40px;
  color: #e27f21;
  font-family: Barlow-semi-bold;
  text-transform: uppercase;
}

.wrapper__getintouch__heading__line {
  display: block;
  width: 45px;
  height: 3px;
  background: #ffffff;
  margin: 20px auto;
}

.wrapper__getintouch__para {
  text-align: center;
  width: 100%;
}

.wrapper__getintouch__para__text {
  font-size: 18px;
  color: #ffffff;
  font-family: Barlow-regular;
  line-height: 2;
}

.wrapper__getintouch__para__contact_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper__getintouch__para__contact_us__address {
  padding: 3% 5%;
}

.wrapper__getintouch__para__contact_us__address__icon {
  padding: 20px;
}

.wrapper__getintouch__para__contact_us__address__text {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  font-family: Barlow-regular;
  text-transform: uppercase;
  line-height: 2;
}

.wrapper__getintouch__para__text_button {
  margin: 40px;
  background: #e27f21;
  font-family: Barlow-bold;
  width: 16%;
  color: #ffffff;
  outline: none;
  border: none;
  height: 58px;
  font-size: 20px;
  border-radius: 30px;
}

.wrapper__getintouch__scroll_button {
  position: absolute;
  top: 89%;
  right: 4%;
  cursor: pointer;
}

.footer {
  padding: 40px;
  font-family: Barlow-semi-bold;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__privacy_text {
  text-align: center;
  padding: 30px;
}

.footer__privacy_text span {
  padding: 0 40px 0 40px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  white-space: nowrap;
}

.footer__copyright_text {
  text-align: center;
}

.footer__scroll_button {
  display: none;
  position: fixed;
  bottom: 12%;
  right: 4%;
  cursor: pointer;
}

.contact_wrapper__header {
  background-image: url(../images/about-us/aboutus_bg.jpg);
  background-size: 100% 100%;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

.contact_wrapper__header__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 12%;
  padding-top: 8%;
  padding-left: 10%;
  padding-right: 10%;
  letter-spacing: 2px;
}

.contact_wrapper__header__text__big_title {
  text-transform: uppercase;
  font-size: 72px;
  color: #ffffff;
  font-family: Barlow-semi-bold;
  padding-top: 14%;
}

.contact_wrapper__header__text__small_title {
  font-size: 20px;
  color: #ffffff;
  font-family: Barlow-regular;
}

.contact_wrapper__header__text__middle_title {
  font-size: 24px;
  font-family: Barlow-bold;
  padding: 2%;
  color: #ffffff;
  text-transform: uppercase;
}

.contact_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_wrapper__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2% 5%;
  background-image: url(../images/about-us/team_bg.jpg);
  background-size: 100% 100%;
}

.contact_wrapper__team__text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_wrapper__team__text__title__top {
  font-size: 35px;
  color: #000000;
  font-family: Barlow-bold;
  text-transform: uppercase;
}

.contact_wrapper__team__text__title__line {
  display: block;
  width: 45px;
  height: 3px;
  background: #e27f21;
  margin: 20px auto;
  margin: 20px 0;
}

.contact_wrapper__team__text__para p {
  font-size: 20px;
  color: #000000;
  font-family: Barlow-medium-bold;
}

.contact_wrapper__team__text__para__sign_text {
  padding-top: 8%;
}

.contact_wrapper__team__images {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_wrapper__team__images__body {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_wrapper__team__images__body__image {
  border-radius: 5px;
  border: 5px solid #e27f21;
  width: 100%;
}

.contact_wrapper__team__images__body__t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact_wrapper__team__images__body__t__body {
  padding: 2%;
  text-align: center;
}

.contact_wrapper__team__images__body__t__body__title {
  font-size: 20px;
  color: #000000;
  font-family: Barlow-medium-bold;
}

.contact_wrapper__team__images__body__t__body__subtitle {
  font-size: 16px;
  color: #706b68;
  font-family: Barlow-medium-bold;
}

.contact_wrapper__mission_statements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ff9d3c;
}

.contact_wrapper__mission_statements__title {
  text-align: center;
  padding: 2% 0 0 0;
}

.contact_wrapper__mission_statements__title__top {
  font-size: 35px;
  color: #000000;
  font-family: Barlow-bold;
  text-transform: uppercase;
}

.contact_wrapper__mission_statements__title__line {
  display: block;
  width: 45px;
  height: 3px;
  background: #e27f21;
  margin: 20px auto;
  background: #ffffff87;
}

.contact_wrapper__mission_statements__para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3% 4%;
}

.contact_wrapper__mission_statements__para__cards {
  width: 33.33%;
  padding-left: 4%;
  padding-right: 4%;
  text-align: center;
}

.contact_wrapper__mission_statements__para__cards__text {
  font-size: 20px;
  color: #000000;
  font-family: Barlow-regular;
}

.contact_wrapper__mission_statements__para__cards:nth-child(2) {
  border-right: 1px solid #ffffff87;
  border-left: 1px solid #ffffff87;
}

.contact_wrapper__solution_overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_wrapper__solution_overview__title {
  text-align: center;
  padding: 2%;
}

.contact_wrapper__solution_overview__title__top {
  font-size: 35px;
  color: #474747;
  font-family: Barlow-bold;
  text-transform: uppercase;
}

.contact_wrapper__solution_overview__title__line {
  display: block;
  width: 45px;
  height: 3px;
  background: #e27f21;
  margin: 20px auto;
}

.contact_wrapper__solution_overview__chart_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  -webkit-box-shadow: 0px 1px 16px 2px #8080803b;
          box-shadow: 0px 1px 16px 2px #8080803b;
  border-radius: 23px;
  padding: 2%;
  height: 554px;
}

.contact_wrapper__solution_overview__chart_box__logo {
  margin: 0 0 4% 0;
}

.contact_wrapper__solution_overview__chart_box__parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.contact_wrapper__solution_overview__chart_box__parent__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_wrapper__solution_overview__chart_box__parent__line__left {
  border-top: 5px solid #e27f21;
  border-left: 5px solid #e27f21;
  border-top-left-radius: 20px;
  border-top-right-radius: 1px;
  height: 100px;
  width: 50%;
  margin-left: 15%;
}

.contact_wrapper__solution_overview__chart_box__parent__line__right {
  border-top: 5px solid #e27f21;
  border-left: 5px solid #e27f21;
  border-right: 5px solid #e27f21;
  border-top-left-radius: 1px;
  border-top-right-radius: 20px;
  height: 100px;
  width: 50%;
  margin-right: 15%;
}

.contact_wrapper__solution_overview__chart_box__parent__info_box {
  position: absolute;
  top: 69%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_wrapper__solution_overview__chart_box__parent__info_box__body {
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.33%;
}

.contact_wrapper__solution_overview__chart_box__parent__info_box__body__card {
  background-color: #e27f21;
  padding: 5%;
  margin: 2% 2%;
  border-radius: 5px;
  font-size: 19px;
  color: #ffffff;
  font-family: 'Barlow-medium-bold';
}

.contact_wrapper__solution_overview__chart_box__parent__info_box__body__text {
  text-align: left;
  padding: 5%;
  margin: 0 2%;
  font-size: 18px;
  color: #474747;
  font-family: Barlow-medium-bold;
}

.contact_wrapper__solution_overview__chart_box__parent__info_box__body__text ul {
  list-style-image: url(../images/icons/bullet.png);
}

.contact_wrapper__background {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8% 5%;
  position: relative;
  background-image: url(../images/about-us/corporate.jpg);
  background-size: 100% 100%;
}

.contact_wrapper__background__title {
  text-align: center;
}

.contact_wrapper__background__title__top {
  text-transform: uppercase;
  font-size: 40px;
  color: #ffffff;
  font-family: Barlow-semi-bold;
}

.contact_wrapper__background__title__line {
  display: block;
  width: 45px;
  height: 3px;
  background: #e27f21;
  margin: 20px auto;
}

.contact_wrapper__background__para p {
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 1.5;
  font-size: 20px;
  color: #ffffff;
  font-family: Barlow-regular;
}

.contact_wrapper__background__cards {
  padding: 4% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_wrapper__background__cards__body {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.3%;
}

.contact_wrapper__background__cards__body__title {
  font-size: 20px;
  color: #ffffff;
  font-family: Barlow-semi-bold;
  text-transform: uppercase;
}

.contact_wrapper__background__cards__body__desc {
  font-size: 34px;
  color: #e2801f;
  font-family: Barlow-semi-bold;
  text-transform: uppercase;
}

.contact_wrapper__background__cards__body__footer {
  font-size: 20px;
  color: #ffffff;
  font-family: Barlow-regular;
  text-transform: uppercase;
}

.contact_wrapper__background__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_wrapper__background__button__btn {
  background: #e27f21;
  font-family: Barlow-bold;
  width: 13%;
  color: #ffffff;
  outline: none;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 30px;
  height: 45px;
  text-transform: uppercase;
  font-size: 16px;
}

.contact_wrapper__background-scroll-button {
  position: absolute;
  top: 92%;
  right: 4%;
  cursor: pointer;
}

.wrapper_contactus__header {
  background-image: url(../images/contact-us/contactus_bg.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: 100% 100%;
  padding-bottom: 9%;
  padding-left: 5%;
  padding-right: 5%;
}

.wrapper_contactus__header__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 19% 0;
}

.wrapper_contactus__header__text__big_title {
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 72px;
  color: #ffffff;
  font-family: Barlow-semi-bold;
}

.wrapper_contactus__header__text__small_title {
  font-size: 20px;
  color: #ffffff;
  font-family: Barlow-regular;
}

.wrapper_contactus__middle_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper_contactus__middle_content__contact {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
}

.wrapper_contactus__middle_content__contact__heading {
  padding: 10px;
  text-align: center;
}

.wrapper_contactus__middle_content__contact__heading__top {
  text-transform: uppercase;
  font-size: 40px;
  color: #262626;
  font-family: Barlow-semi-bold;
}

.wrapper_contactus__middle_content__contact__heading__line {
  display: block;
  width: 45px;
  height: 3px;
  background: #e27f21;
  margin: 20px auto;
}

.wrapper_contactus__middle_content__contact__address {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  color: #474747;
  font-family: Barlow-regular;
  padding: 10% 0;
  line-height: 2;
  text-transform: none;
}

.wrapper_contactus__middle_content__contact__call {
  padding: 10% 0;
}

.wrapper_contactus__middle_content__contact__call__text {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  color: #474747;
  font-family: Barlow-regular;
}

.wrapper_contactus__middle_content__contact__call__number {
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  color: #474747;
  font-family: Barlow-medium-bold;
}

.wrapper_contactus__middle_content__form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
  background-image: url(../images/contact-us/form.jpg);
  background-size: 100% 100%;
}

.wrapper_contactus__middle_content__form__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  text-align: left;
}

.wrapper_contactus__middle_content__form__title__big {
  text-transform: uppercase;
  font-size: 40px;
  color: #ffffff;
  font-family: Barlow-bold;
}

.wrapper_contactus__middle_content__form__title__small {
  padding-top: 40px;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  font-family: Barlow-regular;
  letter-spacing: 1.5px;
}

.wrapper_contactus__middle_content__form__fileds {
  padding: 10px;
}

.wrapper_contactus__middle_content__form__fileds__form_group {
  position: relative;
}

.wrapper_contactus__middle_content__form__fileds__form_group__label {
  font-size: 18px;
  color: #5d5f5d;
  font-family: Barlow-regular;
  position: absolute;
  top: 40%;
  left: 5%;
  letter-spacing: 1.5px;
}

.wrapper_contactus__middle_content__form__fileds__form_group__label_textarea {
  top: 27%;
}

.wrapper_contactus__middle_content__form__fileds__form_group__form_control {
  width: 100%;
  padding: 5%;
  margin: 4% 0;
  display: inline-block;
  border: 1px solid #0a000091;
  background: #0a000091;
}

.wrapper_contactus__middle_content__form__fileds__form_btn__submit {
  margin: 4% 0 0 0;
  background: #e27f21;
  width: 30%;
  color: #ffffff;
  outline: none;
  border-radius: 30px;
  border: 1px solid #e27f21;
  height: 46px;
  font-family: Barlow-medium-bold;
  font-size: 18px;
}

.wrapper_contactus__googleMap {
  width: 100%;
}

.wrapper_contactus__googleMap__iframe {
  width: 100%;
  height: 500px;
}

.wrapper_contactus__pro_with_us {
  position: relative;
  background-color: #5d5f5d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4%;
}

.wrapper_contactus__pro_with_us__title {
  text-align: left;
}

.wrapper_contactus__pro_with_us__title__top {
  text-transform: uppercase;
  font-size: 50px;
  color: #ffffff;
  font-family: Barlow-medium-bold;
}

.wrapper_contactus__pro_with_us__title__line {
  display: block;
  width: 45px;
  height: 3px;
  background: #e27f21;
  margin: 20px auto;
  margin-top: 20px;
}

.wrapper_contactus__pro_with_us__para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper_contactus__pro_with_us__para__text {
  width: 50%;
  margin-top: 2%;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  font-family: Barlow-regular;
  letter-spacing: 2.5px;
  line-height: 2;
}

.wrapper_contactus__pro_with_us__para__number_box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper_contactus__pro_with_us__para__number_box__button {
  margin-top: 2%;
  background: #e27f21;
  width: 30%;
  color: #ffffff;
  outline: none;
  border-radius: 30px;
  border: 1px solid #e27f21;
  font-family: Barlow-medium-bold;
  font-size: 18px;
  height: 46px;
}

.wrapper_services__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url(../images/services/services_bg.jpg);
  background-size: 100% 100%;
  height: auto;
  padding-bottom: 10%;
}

.wrapper_services__header__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2%;
}

.wrapper_services__header__text__big_title {
  text-transform: uppercase;
  font-size: 72px;
  color: #ffffff;
  font-family: Barlow-semi-bold;
  width: 84%;
  margin-left: 16%;
  padding-top: 15%;
  font-size: 40px;
}

.wrapper_services__sidebar {
  position: fixed;
  width: 16%;
  -webkit-box-shadow: 0px 0px 20px 0px #8080807d;
          box-shadow: 0px 0px 20px 0px #8080807d;
  margin-top: -19%;
  border-top-right-radius: 19px;
  background-color: #ffffff;
}

.wrapper_services__sidebar__list__heading {
  text-transform: uppercase;
  font-size: 24px;
  font-family: Barlow-bold;
  color: #474747;
  padding: 6% 7%;
}

.wrapper_services__sidebar__list__sublist {
  border-bottom: 1px solid #000000;
}

.wrapper_services__sidebar__list__sublist ul {
  list-style-type: none;
}

.wrapper_services__sidebar__list__sublist ul li {
  padding: 6% 7%;
}

.wrapper_services__sidebar__list__sublist ul li a {
  text-decoration: none;
  font-size: 18px;
  font-family: Barlow-regular;
  color: #474747;
  text-transform: capitalize;
  cursor: pointer;
}

.wrapper_services__sidebar__list__sublist ul li:hover {
  background-color: #e27f21;
}

.wrapper_services__sidebar__list__sublist ul li:hover a {
  color: #ffffff;
}

.wrapper_services__sidebar__list__sublist--active {
  background-color: #e27f21;
}

.wrapper_services__sidebar__list__sublist--active a {
  color: #ffffff !important;
}

.wrapper_services__content__page {
  width: 84%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 16%;
}

.wrapper_services__content__page__top_text {
  text-align: center;
  padding: 4% 2%;
}

.wrapper_services__content__page__top_text p {
  font-family: barlow-regular;
  font-size: 20px;
  color: #474747;
}

.wrapper_services__content__page__unique_feature {
  padding: 2%;
}

.wrapper_services__content__page__unique_feature__box {
  border: 1px solid #ccc6c6;
  padding: 2% 4%;
}

.wrapper_services__content__page__unique_feature__box__heading {
  font-family: barlow-semi-bold;
  font-size: 20px;
  color: #000000;
  margin: -3% 4% 0 4%;
  background: #ffffff;
  width: 16%;
  text-align: center;
  letter-spacing: 1.2px;
}

.wrapper_services__content__page__unique_feature__box__text_points {
  font-family: barlow-regular;
  color: #474747;
  font-size: 20px;
}

.wrapper_services__content__page__unique_feature__box__text_points ul {
  padding: 2%;
}

.wrapper_services__content__page__unique_feature__box__text_points ul li {
  letter-spacing: 1.2px;
  line-height: 2;
}

.wrapper_services__content__page__pavement_management img {
  width: 100%;
  padding: 0 1%;
}

.wrapper_services__content__page__values {
  padding: 4% 4%;
}

.wrapper_services__content__page__values__b {
  border: 1px solid #ccc6c6;
}

.wrapper_services__content__page__values__b__h {
  font-family: barlow-semi-bold;
  font-size: 20px;
  color: #000000;
  margin: -1% 3% 0 3%;
  background: #ffffff;
  width: 16%;
  text-align: center;
  letter-spacing: 1.2px;
}

.wrapper_services__content__page__values__b__t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4% 0 0 0;
}

.wrapper_services__content__page__values__b__t__cards {
  padding: 2% 4%;
  width: 33.33%;
  text-align: center;
}

.wrapper_services__content__page__values__b__t__cards__icon {
  padding: 2%;
}

.wrapper_services__content__page__values__b__t__cards__heading {
  text-transform: capitalize;
  font-family: barlow-semi-bold;
  font-size: 24px;
  color: #000000;
  padding: 2% 6%;
}

.wrapper_services__content__page__values__b__t__cards__desc {
  font-family: barlow-regular;
  font-size: 20px;
  color: #000000;
  padding: 2% 0;
  line-height: 2;
  letter-spacing: 1.5px;
}

.wrapper_services__content__page__values__footer {
  padding: 4%;
  font-size: 40px;
  letter-spacing: 1.5px;
  font-family: 'Barlow-semi-bold';
  text-align: center;
  color: #474747;
}

.footer--margin_left {
  margin-left: 16%;
}

.wrapper_services__content__page__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4% 9%;
}

.wrapper_services__content__page__images__box {
  width: 40%;
}

.wrapper_services__content__page__images__box__text {
  font-size: 20px;
  font-family: barlow-regular;
  color: #474747;
  padding: 5% 0;
  text-align: center;
  letter-spacing: 1.3px;
}

.wrapper_services__content__page__images__box:first-child img, .wrapper_services__content__page__images__box:last-child img {
  border: 6px solid #e27f21;
  border-radius: 8px;
}

.wrapper_services__content__page__images__box--middle_img {
  width: 12%;
  height: 73px;
  margin: 10% 0 10% 0;
}

.wrapper_services__content__page__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4% 9%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1% 0;
  border: 1px solid grey;
  border-radius: 8px;
}

.wrapper_services__content__page__box__text {
  width: 50%;
  text-transform: capitalize;
  font-size: 72px;
  text-align: center;
  font-family: Barlow-bold;
  color: #474747;
}

.wrapper_services__content__page__box__image {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper_services__content__page__box__image__l {
  padding: 8%;
  margin: 5%;
  border: 1px solid grey;
  border-radius: 8px;
}

.wrapper_services__content__page__box__image__l__text {
  font-family: Barlow-medium-bold;
  color: #474747;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.wrapper_services__content__page__box__image__r {
  padding: 8%;
  margin: 5%;
  border: 1px solid grey;
  border-radius: 8px;
}

.wrapper_services__content__page__box__image__r__text {
  font-family: Barlow-medium-bold;
  color: #474747;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.wrapper_services__content__page__footer {
  text-align: center;
}

.wrapper_services__content__page__services3_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper_services__content__page__services3_images img {
  width: 90%;
  margin-left: 5%;
  padding: 2%;
}

.wrapper_services__content__page__services4_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 5%;
}

.wrapper_services__content__page__services4_images__box {
  padding: 2%;
  width: 50%;
}

.wrapper_services__content__page__services4_images img {
  width: 100%;
  border-radius: 14px;
  border: 3px solid #e27f21;
}

.wrapper_services__content__page__top_text__bullet {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

.wrapper_services__content__page__services5_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 15%;
}

.wrapper_services__content__page__services5_images__box {
  padding: 2%;
  width: 50%;
}

.wrapper_services__content__page__services5_images img {
  width: 80%;
  border-radius: 14px;
  border: 3px solid #e27f21;
}

@media only screen and (max-width: 768px) {
  .nav {
    position: fixed;
  }
  .nav .fa-times {
    color: #e27f21;
    cursor: pointer;
  }
  .nav .fa-ellipsis-h {
    color: #e27f21;
    cursor: pointer;
  }
  .nav__menu__mobile_menu {
    display: block;
  }
  .nav__menu__mobile_menu__list {
    display: none;
    position: absolute;
    z-index: 1;
    background: white;
    top: 99%;
    width: 100%;
    text-align: right;
    right: 0;
    padding: 2% 5%;
  }
  .nav__menu__mobile_menu__list__active > a {
    color: #e27f21 !important;
  }
  .nav__menu__mobile_menu__list__items__dropdown {
    margin: 5px 0;
  }
  .nav__menu__mobile_menu__list__items__dropdown__list {
    display: none;
    margin: 10px 0;
  }
  .nav__menu__mobile_menu__list__items__dropdown__list__heading {
    color: #000000;
    font-family: Barlow-medium-bold;
  }
  .nav__menu__mobile_menu__list__items__dropdown__list__sublist {
    display: none;
  }
  .nav__menu__mobile_menu__list__items__dropdown__list__sublist li {
    padding: 10px 0px !important;
  }
  .nav__menu__mobile_menu__list__items__dropdown__list__sublist li a {
    font-family: 'Barlow-regular' !important;
  }
  .nav__menu__mobile_menu__list__items__dropdown__list__sublist__active > a {
    color: #e27f21;
  }
  .nav__menu__mobile_menu__list li {
    list-style-type: none;
    padding: 10px 22px;
  }
  .nav__menu__mobile_menu__list li a {
    font-family: Barlow-medium-bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    text-align: center;
    overflow: hidden;
    font-size: 16px;
    white-space: nowrap;
  }
  .nav__menu__mobile_menu .fa-bars {
    color: #e27f21;
    cursor: pointer;
    font-size: 30px;
  }
  .nav__menu__list {
    display: none;
  }
  .wrapper__header {
    padding-bottom: 30%;
    background-size: cover;
  }
  .wrapper__header__text {
    padding: 45% 0;
  }
  .wrapper__header__text__big_title {
    font-size: 42px;
  }
  .wrapper__services {
    height: 100%;
  }
  .wrapper__services__about_us {
    width: 90%;
    top: -4%;
    left: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper__services__about_us__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper__services__about_us__box__cards {
    width: 100%;
  }
  .wrapper__services__about_us__box__cards:hover {
    background-color: #fcf2e8;
  }
  .wrapper__services__products {
    margin-top: 150%;
  }
  .wrapper__services__products__box {
    padding: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper__services__products__box__l {
    width: 100%;
    margin-bottom: 5%;
  }
  .wrapper__services__products__box__l__para {
    padding: 10px;
    text-align: center;
  }
  .wrapper__services__products__box__l__para__button {
    width: 50%;
  }
  .wrapper__services__products__box__r {
    width: 100%;
    padding-top: 10%;
  }
  .wrapper__services__products__box__r__slideshow {
    margin-bottom: -8%;
  }
  .wrapper__services__products__box__r__slideshow__slides__shadow {
    height: 79%;
  }
  .wrapper__services__products__box__r__slideshow__slides__shadow__img {
    width: 100%;
    height: auto;
  }
  .wrapper__getintouch {
    background-size: cover;
  }
  .wrapper__getintouch__para {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .wrapper__getintouch__para__contact_us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper__getintouch__para__text_button {
    width: 50%;
  }
  .wrapper__news__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 2%;
  }
  .wrapper__news__description__cards {
    width: 100%;
    border: none;
    border-bottom: 1px solid #dbdbdb;
  }
  .wrapper .wrapper__news > .wrapper__news__description:nth-last-child(2) .wrapper__news__description__cards:first-child {
    border-right: none;
  }
  .wrapper .wrapper__news > .wrapper__news__description:last-child .wrapper__news__description__cards:first-child {
    border-right: none;
    border-top: none;
  }
  .wrapper .wrapper__news > .wrapper__news__description:last-child .wrapper__news__description__cards:last-child {
    border-top: none;
  }
  .fa-bars {
    color: #ffffff;
  }
  .wrapper_contactus__header {
    background-size: cover;
  }
  .wrapper_contactus__header__text {
    padding: 38% 0;
  }
  .wrapper_contactus__header__text__big_title {
    font-size: 42px;
  }
  .wrapper_contactus__middle_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper_contactus__middle_content__contact {
    width: 100%;
  }
  .wrapper_contactus__middle_content__form {
    width: 100%;
  }
  .wrapper_contactus__middle_content__form__title {
    padding: 10px 0;
  }
  .wrapper_contactus__middle_content__form__fileds {
    padding: 0;
  }
  .wrapper_contactus__middle_content__form__form_btn__button {
    width: 50%;
  }
  .wrapper_contactus__pro_with_us__para {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper_contactus__pro_with_us__para__text {
    width: 100%;
    text-align: center;
  }
  .wrapper_contactus__pro_with_us__para__number_box {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper_contactus__pro_with_us__para__number_box__button {
    width: 50%;
  }
  .contact_wrapper__header {
    background-size: cover;
  }
  .contact_wrapper__header__text {
    padding: 38% 10%;
  }
  .contact_wrapper__header__text__big_title {
    font-size: 42px;
  }
  .contact_wrapper__team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: auto;
  }
  .contact_wrapper__team__text {
    width: 100%;
  }
  .contact_wrapper__team__images {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10%;
  }
  .contact_wrapper__team__images__body {
    text-align: center;
  }
  .contact_wrapper__mission_statements__para {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10%;
  }
  .contact_wrapper__mission_statements__para__cards {
    width: 100%;
    padding: 10% 0;
  }
  .contact_wrapper__mission_statements__para__cards:nth-child(2) {
    border-right: 0px solid #ffffff87;
    border-left: 0px solid #ffffff87;
    border-top: 1px solid #ffffff87;
    border-bottom: 1px solid #ffffff87;
  }
  .contact_wrapper__background {
    background-size: auto;
  }
  .contact_wrapper__background__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact_wrapper__background__cards__body {
    width: 100%;
    padding: 10% 0;
  }
  .contact_wrapper__background__button {
    padding: 3%;
  }
  .contact_wrapper__background__button__btn {
    width: 50%;
  }
  .contact_wrapper__solution_overview {
    padding: 6% 0;
  }
  .contact_wrapper__solution_overview__chart_box {
    height: 709px;
  }
  .contact_wrapper__solution_overview__chart_box__parent {
    position: unset;
  }
  .contact_wrapper__solution_overview__chart_box__parent__line {
    display: none;
  }
  .contact_wrapper__solution_overview__chart_box__parent__info_box {
    position: unset;
    top: unset;
    width: 100%;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact_wrapper__solution_overview__chart_box__parent__info_box__body {
    width: 100%;
  }
  .wrapper_services__header {
    background-size: cover;
  }
  .wrapper_services__header__text {
    padding: 38% 0;
  }
  .wrapper_services__header__text__big_title {
    width: 100%;
    margin: 0;
  }
  .wrapper_services__sidebar {
    display: none;
  }
  .wrapper_services__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper_services__content__page {
    width: 100%;
    margin-left: 0;
  }
  .wrapper_services__content__page__footer img {
    width: 90%;
  }
  .wrapper_services__content__page__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .wrapper_services__content__page__images__box {
    padding: 0;
    width: unset;
  }
  .wrapper_services__content__page__images__box__text {
    padding: 0;
  }
  .wrapper_services__content__page__images__box img {
    width: 90%;
    margin-left: 5%;
  }
  .wrapper_services__content__page__images__box--middle_img {
    margin: 5% 36%;
  }
  .wrapper_services__content__page__images__box--middle_img img {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .wrapper_services__content__page__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2%;
    padding: 5%;
  }
  .wrapper_services__content__page__box__text {
    font-size: 42px;
  }
  .wrapper_services__content__page__box__image {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper_services__content__page__box__text {
    width: 100%;
    text-align: center;
  }
  .wrapper_services__content__page__top_text {
    padding: 7% 2%;
  }
  .wrapper_services__content__page__values {
    padding: 9% 4%;
  }
  .wrapper_services__content__page__values__b__h {
    margin: -5% 3% 0 3%;
    width: 40%;
  }
  .wrapper_services__content__page__values__b__t {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper_services__content__page__values__b__t__cards {
    width: 100%;
  }
  .wrapper_services__content__page__unique_feature__box__heading {
    top: -3%;
    width: 67%;
  }
  .wrapper_services__content__page__unique_feature__box__text_points ul {
    padding-left: 9%;
  }
  .footer--margin_left {
    margin-left: 0;
  }
  .footer__scroll_button {
    bottom: 30%;
  }
  .wrapper_services__content__page__services3_images img {
    width: 100%;
    margin-left: 0;
    padding: 2%;
  }
  .wrapper_services__content__page__services4_images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper_services__content__page__services4_images__box {
    width: 100%;
  }
  .wrapper_services__content__page__services5_images {
    padding: 0 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper_services__content__page__services5_images__box {
    width: 100%;
  }
  .wrapper_services__content__page__services5_images img {
    width: 100%;
  }
  #dropdown-mobile {
    position: relative;
    display: inline-block;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 768px) and (min-width: 768px) {
  .wrapper__header {
    padding-bottom: 9%;
  }
  .wrapper__services__products {
    margin-top: 46%;
  }
  .wrapper__getintouch__para__contact_us {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper__getintouch__para__text_button {
    width: 29%;
  }
  .wrapper__services__products__box__l__para__button {
    width: 30%;
  }
  .wrapper__services__products__box__r__slideshow__slides__shadow {
    width: 95%;
    height: 85%;
  }
  .wrapper__services__products__box__r__slideshow_dot_box {
    margin-top: 87px;
  }
  .wrapper .news-description-cards {
    border-bottom: 0px solid #dbdbdb;
  }
  .wrapper .news-description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper .news > .news-description:nth-last-child(2) .news-description-cards:first-child {
    border-right: 1px solid #dbdbdb;
  }
  .wrapper .news > .news-description:last-child .news-description-cards:first-child {
    border-right: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
  }
  .wrapper .news > .news-description:last-child .news-description-cards:last-child {
    border-top: 1px solid #dbdbdb;
  }
  .wrapper_contactus__pro_with_us__para__number_box__button {
    width: 30%;
  }
  .wrapper_services__content__page__images__box--middle_img img {
    width: 59%;
  }
  .wrapper_services__content__page__box__image {
    width: 100%;
  }
}

@media screen and (min-width: 540px) and (max-width: 540px) {
  .wrapper__services__products__box__r__slideshow_dot_box {
    margin-top: 51px;
  }
  .wrapper__services__products {
    margin-top: 67%;
  }
  .contact_wrapper__solution_overview__chart_box {
    height: 864px;
  }
  .contact_wrapper__team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact_wrapper__team__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrapper_contactus__pro_with_us__para__number_box__button {
    width: 30%;
  }
  .wrapper_contactus__pro_with_us__para__text {
    text-align: center;
  }
  .wrapper_services__content__page__values__b__h {
    margin: -3% 3% 0 3%;
    width: 30%;
  }
  .wrapper_services__content__page__unique_feature__box__heading {
    top: -3%;
    width: 45%;
  }
  .wrapper_services__content__page__images__box--middle_img {
    margin: 12% 36%;
  }
  .wrapper_services__content__page__box__image {
    width: 100%;
    text-align: center;
  }
  .wrapper_services__content__page__box__text {
    width: 100%;
    text-align: center;
  }
  .services2 {
    overflow: hidden;
  }
  .services2 .services1-content-page-wrapper .wrapper-images .middle-img {
    margin: 12% 36%;
  }
  .services2 .services1-content-page-wrapper .wrapper-box-image {
    width: 100%;
    text-align: center;
  }
  .services2 .services1-content-page-wrapper .wrapper-box-text {
    width: 100%;
    text-align: center;
  }
  .header-nav-dropdown-mobile {
    top: 63%;
    right: 103.5%;
  }
}

@media screen and (min-width: 280px) and (max-width: 280px) {
  .wrapper__services__products__box__r .wrapper__services__products__slideshow__slides .wrapper__services__products__slideshow__slides__img {
    width: 100%;
  }
  .wrapper__services__products {
    margin-top: 190%;
  }
  .wrapper__services__products__box__l__para__button {
    width: 66%;
  }
  .wrapper__services__products__box__r__slideshow__slides__shadow {
    height: 78%;
    margin-top: 17px;
    width: 77%;
    margin-left: -24px;
  }
  .wrapper__services__products__box__r__slideshow__slides__img {
    width: 100%;
    height: auto;
  }
  .contact_wrapper__solution_overview__chart_box {
    height: 823px;
  }
  .contact_wrapper__background-scroll-button {
    top: 97%;
  }
  .wrapper_contactus__pro_with_us__para__text {
    text-align: center;
  }
  .wrapper_services__content__page__box {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 320px) {
  .wrapper_services__content__page__box {
    margin: 0;
    padding: 0;
  }
  .wrapper_services__content__page__footer img {
    width: 90%;
  }
}

@media screen and (min-width: 411px) and (max-width: 414px) {
  .wrapper__services__products {
    margin-top: 103%;
  }
  .contact_wrapper__solution_overview__chart_box {
    height: 772px;
  }
}

@media screen and (min-width: 375px) and (max-width: 375px) {
  .wrapper__services__products {
    margin-top: 130%;
  }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
  .wrapper_contactus__middle_content__form__btn__submit {
    width: 30%;
  }
  .wrapper_contactus__pro_with_us__para__text {
    text-align: center;
  }
  .wrapper_contactus__pro_with_us__para__number_box__button {
    width: 30%;
  }
  .contact_wrapper__team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: auto;
  }
  .contact_wrapper__team__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact_wrapper__team__images__body {
    text-align: center;
  }
  .contact_wrapper__solution_overview__chart_box {
    height: 969px;
  }
  .contact_wrapper__background__button__btn {
    width: 27%;
  }
  .wrapper_services__content__page__values__b__h {
    margin: -2% 3% 0 3%;
    width: 30%;
  }
  .wrapper_services__content__page__unique_feature__box__heading {
    width: 29%;
  }
  .services2 {
    overflow: hidden;
  }
  .services2 .services1-content-page-wrapper .wrapper-images .middle-img {
    margin: 5% 42%;
  }
  .services2 .services1-content-page-wrapper .wrapper-box {
    margin: 4% 9%;
    padding: 1% 5%;
    text-align: center;
  }
  .services2 .services1-content-page-wrapper .wrapper-box-text, .services2 .services1-content-page-wrapper .wrapper-box-image {
    width: 100%;
  }
  .wrapper .services-products-box-r .slideshow-dot-box {
    margin-top: 80px;
  }
  .header-nav-dropdown-mobile {
    top: 63%;
    right: 103.5%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1024px) {
  .wrapper__services__products {
    margin-top: 30%;
  }
  .contact_wrapper__team__text {
    padding: 2%;
  }
  .contact_wrapper__background__cards__body {
    padding: 2% 3%;
  }
  .wrapper_services__content__page__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .wrapper_services__content__page__images__box {
    width: 100%;
  }
  .wrapper_services__content__page__images__box--middle_img {
    margin: 0;
  }
  .wrapper_services__content__page__images__box--middle_img img {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .wrapper_services__content__page__box {
    margin: 4% 4%;
    padding: 1% 9%;
  }
}

input[type=email], input[type=text], textarea {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */