.wrapper_services__header{
    display:flex;
    flex-direction: column;
    padding-left:5%;
    padding-right:5%;
    background-image:url(../images/services/services_bg.jpg);
    background-size:100% 100%;
    height: auto;
    padding-bottom:10%;
    &__text{
        text-align: center;
        display: flex;
        flex-direction: column;
        padding:2%;
        &__big_title{
            text-transform: uppercase;
            font-size: 72px;
            color: #ffffff;
            font-family: Barlow-semi-bold;
            width:84%;
            margin-left:16%;
            padding-top:15%;
            font-size:40px;
        }
    }
}