.wrapper_services{
    &__sidebar{
        position:fixed;
    width:16%;
    box-shadow:0px 0px 20px 0px #8080807d;
    margin-top: -19%;
    border-top-right-radius: 19px;
    background-color:#ffffff;
     &__list{
         &__heading{
        text-transform: uppercase;
        font-size: 24px;
        font-family: Barlow-bold;
        color:$top-heading-color;
        padding:6% 7%;  
         }
         &__sublist{
            border-bottom: 1px solid #000000;
            ul{
               list-style-type: none;
               li{
                   padding:6% 7%;  
                   a{
                   text-decoration: none;
                   font-size:18px ;
                   font-family: Barlow-regular;
                   color: $top-heading-color;
                   text-transform: capitalize;
                   cursor: pointer;
                   }
                   &:hover{ 
                    background-color:#e27f21 ;
                   a{
                    color:#ffffff;
                   }
                    }
               }
              
            }
            &--active{
                background-color:#e27f21 ;
                a{
                    color:#ffffff !important;
                   }
            }
        }
     }
   
}

}