.contact_wrapper{
    &__background{
    margin-top:10%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding:8% 5%;;
    position: relative;
    background-image: url(../images/about-us/corporate.jpg);
    background-size:100% 100%;
    &__title{
        text-align: center;
        &__top{
            text-transform: uppercase;
            font-size: 40px;
            color:#ffffff;
            font-family:Barlow-semi-bold;
        }
        &__line{
           @include headingLine;
        }
    }
    &__para{
        //padding:5%;
        p{
        text-align: center;
        letter-spacing: 1.5px;
        line-height:1.5;
        font-size: 20px;
        color:#ffffff;
        font-family:Barlow-regular;
    }
   }
   &__cards{
       padding:4% 0;
       display: flex;
       justify-content: center;
       &__body{
           text-align: center;
           display: flex;
           justify-content: space-between;
           flex-direction: column;
           //padding:2% 5%;
           width: 33.3%;
           &__title{
              font-size: 20px;
              color:#ffffff;
              font-family:Barlow-semi-bold;
              text-transform: uppercase;
           }
           &__desc{
              font-size: 34px;
              color:$about-us-background-text-color;
              font-family:Barlow-semi-bold;
              text-transform: uppercase;
        }
        &__footer{
            font-size: 20px;
              color:#ffffff;
              font-family:Barlow-regular;
              text-transform: uppercase;
        }
       }
   }
   &__button{
       display:flex;
       flex-direction: column;
       justify-content: center;
       &__btn{
        @include textButton($width:13%);
        //border:2px solid $text-button-color;
        height:45px;
        text-transform: uppercase;
        font-size:16px;
       }
   }
   &-scroll-button{
       @include scroll-btn($top:92%);
   }
}
}