
.contact_wrapper__header{
        background-image: url(../images/about-us/aboutus_bg.jpg);
        background-size: 100% 100%;
        @include flexColumn;
        height: 700px;
        &__text{
            text-align: center;
            @include flexColumn;
            margin-top: 72px;
            letter-spacing: 2px;
            &__big_title{
                text-transform: uppercase;
                font-size: 72px;
                color: #ffffff;
                font-family: Barlow-semi-bold;
                padding-top: 14%;
            }
            &__small_title{
                font-size: 20px;
                color: #ffffff;
                font-family:Barlow-regular;
                padding:0 10%;
            }
            &__middle_title{
                font-size: 24px;
                font-family: Barlow-bold;
                padding:2%;
                color: #ffffff;
                text-transform: uppercase;
            }
        }
    
}