
.contact_wrapper__header{
        background-image: url(../images/about-us/aboutus_bg.jpg);
        background-size: 100% 100%;
        padding-bottom:0;
        display:flex;
        flex-direction: column;
        padding-left:5%;
        padding-right:5%;
        &__text{
            text-align: center;
            display: flex;
            flex-direction: column;
            padding-bottom:12%;
            padding-top:8%;
            padding-left:10%;
            padding-right:10%;
            letter-spacing: 2px;
            &__big_title{
                text-transform: uppercase;
                font-size: 72px;
                color: #ffffff;
                font-family: Barlow-semi-bold;
                padding-top: 14%;
            }
            &__small_title{
                font-size: 20px;
                color: #ffffff;
                font-family:Barlow-regular;
            }
            &__middle_title{
                font-size: 24px;
                font-family: Barlow-bold;
                padding:2%;
                color: #ffffff;
                text-transform: uppercase;
            }
        }
    
}