.contact_wrapper{
    &__mission_statements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $mission-statements-background;
    &__title{
        text-align: center;
        padding: 2% 0 0 0;
        &__top{
            @include text-property($size:35px,$color:$primary-text-color
            ,$font:Barlow-bold);
        }
        &__line{
           @include headingLine;
           background:$mission-statements-border;
        }
    }
    &__para{
        display: flex;
        justify-content: space-between;
        padding:3% 4%;
        &__cards{
            width:33.33%;
            padding-left:4%;
            padding-right:4%;
            text-align: center;
            &__text{
                @include text-property($text-transform:none,$size:20px,$font:'Barlow-regular');

            }
            &:nth-child(2){
                border-right: 1px solid $mission-statements-border;
                border-left: 1px solid $mission-statements-border;
            }
        }
    }
}
}