.contact_wrapper{
    &__solution_overview{
    display:flex;
    flex-direction:column;
    &__title{
        text-align: center;
        padding:2%;
        &__top{
            @include text-property($size:35px,$color:$top-heading-color
            ,$font:Barlow-bold);
            
        }
        &__line{
           @include headingLine;
        }
    }
    &__chart_box{
        display:flex;
        flex-direction:column;
        text-align: center;
        width: 90%;
        margin-left: 5%;
        box-shadow: 0px 1px 16px 2px #8080803b;
        border-radius: 23px;
        padding:2%;
        height:554px;
            &__logo{
                margin: 0 0 4% 0;
            }
        &__parent{
            display:flex;
            flex-direction:column;
            position: relative;
            &__line{
                display:flex;
            &__left{
                border-top:5px solid $text-button-color;
                border-left:5px solid $text-button-color;
                border-top-left-radius:20px;
                border-top-right-radius:1px;
                height: 100px;
                width:50%;
                margin-left:15%;
            }
            &__right{
                border-top:5px solid $text-button-color;
                border-left:5px solid $text-button-color;
                border-right:5px solid $text-button-color;
                border-top-left-radius:1px;
                border-top-right-radius:20px;
                height: 100px;
                width:50%;
                margin-right:15%;
            }
        }
        
        &__info_box{
            position: absolute;
            top:69%;
            width:100%;
            display: flex;
            &__body{
                padding:2%;
                display: flex;
                flex-direction: column;
                width:33.33%;
                &__card{
                     background-color:$text-button-color;
                     padding:5%;
                     margin:2% 2%;
                     border-radius: 5px;
                     @include text-property($text-transform:none,$size:19px
                     ,$color:$secondary-text-color);
                     font-family: 'Barlow-medium-bold';
                }
                &__text{
                    text-align:left;
                    padding:5%;
                    margin:0 2%;
                    @include text-property($text-transform:none,$size:18px,
                    $font:Barlow-medium-bold);
                    ul{
                        list-style-image: url(../images/icons/bullet.png);
                    }
                }
            }
        }
        
    }
    }
}
}