.wrapper_contactus__header{
    background-image: url(../images/contact-us/contactus_bg.jpg);
    @include flexColumn;
    background-size: 100% 100%;
    padding:0 5%;
    height:700px;
    &__text{
        text-align: center;
        @include flexColumn;
        margin-top:25%;
        &__big_title{
            padding: 10px 0;
            text-transform: uppercase;
            font-size: 72px;
            color: #ffffff;
            font-family: Barlow-semi-bold;
        }
        &__small_title{
            font-size: 20px;
        color: #ffffff;
        font-family:Barlow-regular;
        }
    }
}