.wrapper_contactus{
    &__middle_content{
    display: flex;
    &__contact{
        width:50%;
        display: flex;
        flex-direction: column;
        padding:5%;
        &__heading{
                padding:10px;
                text-align: center;
            &__top{
                text-transform: uppercase;
                font-size: 40px;
                color:$about-us-heading-text;
                font-family:Barlow-semi-bold;
            }
            &__line{
               @include headingLine;
            }
        }
        &__address{
            text-align: center;
            text-transform: uppercase;
            font-size: 24px;
            color:$top-heading-color;
            font-family:Barlow-regular;
            padding:10% 0;
            line-height: 2;
            text-transform: none;
        }
        &__call{
            padding:10% 0;
            &__text{
                text-align: center;
                text-transform: uppercase;
                font-size: 24px;
                color:$top-heading-color;
                font-family:Barlow-regular;
            }
            &__number{
                padding:10px 0;
                text-align: center;
                text-transform: uppercase;
                font-size: 50px;
                color:$top-heading-color;
                font-family:Barlow-medium-bold;
            }
        }
    }
    &__form{
        width:50%;
        display: flex;
        flex-direction:column;
        padding:5%;
        background-image: url(../images/contact-us/form.jpg);
        background-size: 100% 100%;
        //height: 636px;
        &__title{
            display: flex;
            flex-direction:column;
            padding:10px;
            text-align: left;
            &__big{
             text-transform: uppercase;
             font-size: 40px;
             color:#ffffff;
             font-family:Barlow-bold;
            }
            &__small{
                padding-top:40px;
                text-transform: uppercase;
                font-size: 14px;
                color:#ffffff;
                font-family:Barlow-regular;
                letter-spacing: 1.5px;
            }
        }
        &__fileds{
            padding:10px;
            &__form_group{
                position: relative;
                &__label{
                    font-size: 18px;
                    color:$about-us-form-label-text;
                    font-family:Barlow-regular;
                    position: absolute;
                    top: 40%;
                    left: 5%;
                    letter-spacing: 1.5px;
                    
                }
                &__label_textarea{
                   
                    top: 27%;
                }
                &__form_control{
                    width: 100%;
                    padding: 5%;
                    margin: 4% 0;
                    display: inline-block;
                    border: 1px solid $about-us-form-background-color;
                    background:$about-us-form-background-color;
                }
            }
            &__form_btn{
                &__submit{
                    margin:4% 0 0 0;
                    background:$text-button-color;
                    width:30%;
                    color: $secondary-text-color;
                    outline: none;
                    border-radius: 30px;
                    border:1px solid $text-button-color;
                    height: 46px;
                    font-family:Barlow-medium-bold;
                    font-size:18px;
                }
            }
        }
    }
}
&__googleMap{
width:100%;
&__iframe{
    width: 100%;
    height:500px;
}
}
}