.wrapper_contactus{
    &__pro_with_us{
    position: relative;
    background-color: #5d5f5d;
    display: flex;
    flex-direction:column;
    padding:4%;
    &__title{
        text-align: left;
    &__top{
        text-transform: uppercase;
        font-size: 50px;
        color:$secondary-text-color;
        font-family:Barlow-medium-bold;
    }
    &__line{
       @include headingLine;
       margin-top: 20px;
    }
    }
    &__para{
        display: flex;
        justify-content:space-between;
        &__text{
            width: 50%;
            margin-top:2%;
        text-transform: uppercase;
        font-size:14px;
        color:$secondary-text-color;
        font-family:Barlow-regular;
        letter-spacing:2.5px;
        line-height: 2;
        }
        &__number_box{
            width: 50%;
            display: flex;
            justify-content:flex-end;
            &__button{
                margin-top:2%;
                @include textButton($background:$text-button-color,$width:30%);
                border:1px solid $text-button-color;
                height: 46px;
                font-family:Barlow-medium-bold;
                font-size:18px;
            }
        }
    }
  
}
}