.wrapper_services__content__page{
        
        &__images{
            display:flex;
            justify-content: space-between;
            padding:4% 9%;
        
            &__box{
                width:40%;
                &__text{
                    @include text-property($text-transform:none,$size:20px,$font:barlow-regular
                    ,$color:$top-heading-color);
                     padding:5% 0; 
                     text-align: center;
                     letter-spacing: 1.3px;;
                }
                &:first-child,&:last-child{
                    img{
                    
                        border:6px solid $text-button-color;
                        border-radius: 8px;
                        }
                }
                &--middle_img{
                    width: 12%;
                    height: 73px;
                    margin: 10% 0 10% 0;
                }
            }
            
            
              
        }
        &__box{
            display:flex;
            justify-content:space-between;
            margin:4% 9%;
            justify-content: center;
            //padding: 1% 5%;
            padding:1% 0;
            border:1px solid grey;
            border-radius: 8px;
            &__text{
                width:50%;
              @include text-property($font:Barlow-bold,$color:$top-heading-color
              ,$text-transform:capitalize,$size:72px);
              text-align: center;
            }
            &__image{
                width:50%;
                display:flex;
                padding:2%;
                justify-content: center;
                &__l{  
                    padding:8%;
                    margin:5%;
                    border:1px solid grey;
                    border-radius: 8px;
                    &__text{
                        @include text-property($font:Barlow-medium-bold,$color:$top-heading-color
                           ,$size:24px); 
                           text-align: center;
                    }
                }
                &__r{
                    padding:8%;
                    margin:5%;
                    border:1px solid grey;
                    border-radius: 8px;
                    &__text{
                        @include text-property($font:Barlow-medium-bold,$color:$top-heading-color
                           ,$size:24px); 
                           text-align: center;
                    }
                }
            }
           
        }
        &__footer{
          text-align: center;
          }
    }
