.wrapper_services__content__page{
        
        &__images{
            @include flexBetween;
            padding:4% 9%;
        
            &__box{
                width:40%;
                &__text{
                    font-size:20px;
                    @include services2Font;
                    font-family:barlow-regular ;
                     padding:5% 0; 
                     letter-spacing: 1.3px;;
                }
                &:first-child,&:last-child{
                    img{
                    
                        border:6px solid $text-button-color;
                        border-radius: 8px;
                        }
                }
                &--middle_img{
                    width: 12%;
                    height: 73px;
                    margin: 10% 0 10% 0;
                }
            }
            
            
              
        }
        &__box{
            @include flexCenter;
            margin:4% 9%;
            //padding: 1% 5%;
            padding:1% 0;
            border:1px solid $services-box-border;
            border-radius: 8px;
            &__text{
              width:50%;
              text-transform:capitalize;
              font-size:72px;
              font-family:Barlow-bold;
              @include services2Font;
            }
            &__image{
                width:50%;
                @include flexCenter;
                padding:2%;
                &__l{  
                    @include service2Lrbox;
                    &__text{
                        @include servicesFont;
                    }
                }
                &__r{
                   @include service2Lrbox;
                    &__text{
                        @include servicesFont;
                    }
                }
            }
           
        }
        &__footer{
          text-align: center;
          }
    }
