   
       &-card{
          width: 33.3%;
          flex-wrap: wrap;
          padding: 40px;
          text-align:center;
          &:hover{
          background-color:#fcf2e8;
          cursor: pointer;
       }
          &-text{
             .big-text{
                   font-size:35px;
                color:$top-heading-color;
                font-family:Barlow-semi-bold;
             }
             .small-text{
                   font-size:20px;
                color:$text-button-color;
                font-family:Barlow-semi-bold;
 
             }
          }
       }
    
 