
    .footer{
    padding:40px;
    font-family: Barlow-semi-bold;
    flex-direction:column;
    justify-content:center;
    display: flex;
    &__logo{
        object-fit: contain;
    }
    &__privacy_text{
        text-align: center;
        padding:30px;
        span{
            padding:0 40px 0 40px;
            border-left: 1px solid $primary-text-color;
            border-right: 1px solid $primary-text-color;
            white-space: nowrap;
        }
    }
    &__copyright_text{
        text-align: center;
    }
}
