.wrapper{
    @include flexColumn; 
    &__getintouch{
        position: relative;
        background-image: url(../images/home/getintouch.jpg);
        background-size: 100% 100%;
        &__heading{
            padding-top: 30px;
            @include textCenter;
            &__top{
                font-size:40px;
                color:$text-button-color;
                font-family:Barlow-semi-bold;
                text-transform: uppercase;
            }
            &__line{
               @include headingLine($background:$secondary-text-color);
            }

        }
       
        &__para{
            @include textCenter;
            &__text{
            font-size:18px;
                color:$secondary-text-color;
                font-family:Barlow-regular;
            line-height: 2;
                      }
            width: 100%;
            //margin:0 20% 0 20%;
            &__contact_us{
                @include flexCenter;
                &__address{
                   padding:3% 5%;
                    &__icon{
                        padding:20px;
                    }
                    &__text{
                        @include textCenter;
                        font-size:18px;
                        color:$secondary-text-color;
                        font-family:Barlow-regular;
                        text-transform: uppercase;
                        line-height: 2;
                    }
                }
               
                
            }
            &__text_button{
                margin:40px;
             background:$text-button-color;
             font-family: Barlow-bold;
             width:16%;
             color: $secondary-text-color;
             outline: none;
             border: none;
             height:58px;
             font-size: 20px;
             border-radius: 30px;
            }
        }
        &__scroll_button{
        @include scroll-btn;
        }
    }
}