.wrapper{
    display:flex;
    flex-direction: column;  
    &__getintouch{
        position: relative;
        background-image: url(../images/home/getintouch.jpg);
        background-size: 100% 100%;
        &__heading{
            padding-top: 30px;
            text-align: center;
            &__top{
                font-size:40px;
                color:$text-button-color;
                font-family:Barlow-semi-bold;
                text-transform: uppercase;
            }
            &__line{
               @include headingLine($background:$secondary-text-color);
            }

        }
       
        &__para{
            text-align: center;
            &__text{
            font-size:18px;
                color:#ffffff;
                font-family:Barlow-regular;
            line-height: 2;
                      }
            width: 100%;
            //margin:0 20% 0 20%;
            &__contact_us{
                display: flex;
                justify-content:center;
                &__address{
                   padding:3% 5%;
                    &__icon{
                        padding:20px;
                    }
                    &__text{
                        text-align: center;
                        font-size:18px;
                        color:#ffffff;
                        font-family:Barlow-regular;
                        text-transform: uppercase;
                        line-height: 2;
                    }
                }
               
                
            }
            &__text_button{
                margin:40px;
             @include textButton($width:16%);
            //  border:2px solid $secondary-text-color;
            }
        }
        &__scroll_button{
        @include scroll-btn;
        }
    }
}