.nav{       
    @include flexBetween;
    background-color: #ffffff;
    position: fixed;
    z-index:1;
    width:100%;
    padding-left:5%;
    padding-right:5%;
    box-shadow: 1px 2px 3px 2px #02020212;
  
    &__menu{
        &__mobile_menu{
            display: none;
        }
        display: flex;
        align-items: center;
        &__list{
            list-style-type: none;
            display: flex;
            &__items{
                &__dropdown{
                    display: none;
                    position: absolute;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                    top: 110%;
                    background: #ffffff;
                    border-radius: 9px;
                    padding: 1% 20%;
                    text-align: left;
                    letter-spacing: 1.5px;
                    &__list{
                    padding-bottom:10%;
                        &__heading{
                            text-transform: uppercase;
                            font-size: 16px;
                            color: #000000;
                            font-family: Barlow-bold;
                            padding: 10% 0 10% 5%;
                        }
                        &__sublist{
                                list-style-type: none;
                                li{
                                    text-transform: uppercase;
                                    font-size: 16px;
                                    color: #000000;
                                    font-family: Barlow-regular;
                                    padding: 8% 6% 8% 5%;
                                  a{
                                      text-decoration: none;
                                      color:#000000;
                                  }
                                }
                            
                        }
                    }
                }
                display: flex;
                margin-left:20px;
                &__link{
                    font-size:18px;
                    color:$menu-text-color;
                    font-family:Barlow-medium-bold;
                    text-decoration: none;
                    text-transform: uppercase;
                    &:hover{
                    font-weight: 700;   
                    color: $menu-text;                     
                    }
                    &--active{
                        color:#e27f21;
                    }
                }
                
            }
            
        }
        
    }
}
.wrapper__header{
    @include flexColumn;
    background-image: url(../images/home/banner.jpg);
    background-size: 100% 100%;
    // padding-bottom:9%;
    // padding-left:5%;
    // padding-right:5%;
     height:700px;
  
  
    &__text{
        @include textCenter;
        @include flexColumn;
        justify-content: center;
        padding:0 5%;
        // padding-top:25%;
        // padding-bottom:12%;
        margin-top:330px;
       &__big_title{
        padding: 10px 0;
        text-transform: uppercase;
        font-size: 72px;
        color:$secondary-text-color;
        font-family: Barlow-semi-bold;
    }
       &__small_title{
        text-transform: uppercase;
        font-size: 20px;
        color: $secondary-text-color;
        font-family: Barlow-medium-bold;
       }
      
    }
}


#dropdown{
    position: relative;
}