.wrapper{
    @include flexColumn;
    &__news{
    padding:0 3%;
    padding-bottom: 3%;
    @include flexColumn;
    &__title{
        @include textCenter;
        padding:2%;
        &__top{
            text-transform: uppercase;
            font-size: 40px;
            color: $top-heading-color;
            font-family: Barlow-semi-bold;


        }
        &__line{
           @include headingLine;
        }
    } 
    &__description{
       @include flexBetween;
        padding:0 10%;
        &__cards{
            &:hover{
                background-color:$news-hover-box;
                cursor: pointer;
            }
            //@include layout($direction:column,$justify:space-between);
            width: 50%;
            padding: 6% 6%;
            text-align:center;
            &__t{
                font-size: 35px;
                color: $news_heading_color;
                font-family: Barlow-semi-bold;
                padding-bottom: 3%;
            }
            &__d{
                font-size: 20px;
                color:$news_description_color;
                font-family: Barlow-medium-bold;
                letter-spacing: 1px;
                line-height: 32px;
            }
        }
    }
   
}

.wrapper__news>.wrapper__news__description:nth-last-child(2){
    .wrapper__news__description__cards:first-child{
        border-right:2px solid $news-border-color;  
    }
  }
  .wrapper__news>.wrapper__news__description:last-child{
  .wrapper__news__description__cards:first-child{
      border-right:2px solid $news-border-color;
      border-top:2px solid $news-border-color;
  }
  .wrapper__news__description__cards:last-child{
    border-top:2px solid $news-border-color;
   
}
}
}