.wrapper_services__content__page{
   &__top_text__bullet {
        display: list-item;
        list-style-type: disc;
        list-style-position: inside;
    }
        &__services5_images{
            display: flex;
            flex-direction: row;
            padding: 0 15%;
        &__box{
          padding:2%;
          width:50%;
        }
        img{
            width: 80%;
            border-radius:14px;
            border:3px solid $text-button-color;
        }
        }
    }